@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*Tobii mods*/
  .tobii-zoom {
    width: 100%;
  }
  .tobii__slide figure > img {
    padding-bottom: 50px;
  }

  /* iframe {
        max-width: 90%;
        margin: auto;
    } */

  .tobii {
    background-color: black;
  }

  /*Other*/
  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    font-family: "Exo", sans-serif;
  }

  p,
  figcaption {
    font-family: "Almarai", sans-serif;
  }

  .facts p {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #000000;
  }

  .progress-bar {
    z-index: 10; /* Set this value higher than the z-index of the video container */
  }

  .video-container video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    filter: brightness(0.5);
  }

  .text-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .sticky {
    position: sticky;
  }

  /* Add a minimum height for each section */
  .parallax-item {
    min-height: 400px; /* Adjust this value based on your design */
  }

  .banner {
    text-shadow: 1px 1px #333333;
  }

  .eksperiment h2 {
    text-shadow: 1px 1px #333333;
  }

  /* h1 hover effect */
  #h1:hover,
  #h2:hover {
    color: #0ea5e9;
    transition: 0.5s;
  }

  /*cursor*/
  #h1,
  #h2,
  a {
    @apply cursor-handcursor;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .text-box {
    box-sizing: border-box;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 8s ease-in-out infinite;
  }
}
